@charset "UTF-8";

// [contents]

.inner {
    max-width: 1080px;
    margin: 0 auto;
}

section.unique, section.general {
    padding: 1em;
}


.block {
    display: block;
}

//top






// features

