@charset "UTF-8";


@import "base";
@import "config";
@import "common";
@import "main";


.box{
  position: relative;
  width: 100px;
  border: solid;

}
.box::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 23px solid transparent;
  border-top: 40px solid;
}
